$avatar-bg: #606060;
$bg-light: #E5E4E3;
$border-color: #D1D1D1;
$cyan-bg: #D2FFFB;
$cyan-color: #62DDD3;
$divider-color: #EAECF0;
$error-bg: #F9CDCD;
$error-color: #C12525;
$primary-bg: #f1f1f2;
$primary-color: #00C2BF;
$success-bg: #DCFFE8;
$success-color: #35CD71;
$tag-bg: #E5E4E3;
$tag-bg-success: #DCFFE8;
$tag-color: #606060;
$text-color: #000000;
$text-color-secondary: #606060;
$text-color-warning: #8f9a27;

:export {
  avatarBg: $avatar-bg;
  bgLight: $bg-light;
  borderColor: $border-color;
  cyanBg: $cyan-bg;
  cyanColor: $cyan-color;
  dividerColor: $divider-color;
  errorBg: $error-bg;
  errorColor: $error-color;
  primaryBg: $primary-bg;
  primaryColor: $primary-color;
  successBg: $success-bg;
  successColor: $success-color;
  tagBg: $tag-bg;
  tagBgSuccess: $tag-bg-success;
  tagColor: $tag-color;
  textColor: $text-color;
  textColorSecondary: $text-color-secondary;
  textColorWarning: $text-color-warning;
}
